* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body {
  background-color: peachpuff;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 10px 10px;
  height: 350px;
  width: 570px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  padding: 5px 10px;
}
button {
  background-color: green; 
  color: white;
  border: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
button:hover{
  background-color: rgb(15, 211, 15);;
  transition: all ease-in 0.5s;
}
#input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#qr-image{
  display: block;
  width:30%;
  margin:0 auto;

}
